<div data-role="charm" data-position="left" id="guaranty-help">
  <p class="text-light">
    g/p <br>
    g = гарантирана печалба <br>
    p = познати числа <br><br>
    4/5
    гарантирано ще имате четворка/и <br>
    ако уцелите пет числа
  </p>
  <span class="charm-closer"></span>
</div>

<div data-role="charm" data-position="left" id="result-help">

  <p class="text-light">
    Липсват данни за размера на печалбите през<br>
    годините.За това условно ще приемем, че <br>
    левовата стойност на печалбите е: <br><br>
    тройка =
    <button (click)="minus($event.target)" data-price="3" class="button mini-button bg-grayLight">
      -
    </button>
    {{priceThree}}
    <button (click)="plus($event.target)" data-price="3" class="button mini-button bg-grayLight">
      +
    </button>
    <br>
    четворка =
    <button (click)="minus($event.target)" data-price="4" class="button mini-button bg-grayLight">
      -
    </button>
    {{priceFour}}
    <button (click)="plus($event.target)" data-price="4" class="button mini-button bg-grayLight">
      +
    </button>
    <br>
    петица =
    <button (click)="minus($event.target)" data-price="5" class="button mini-button bg-grayLight">
      -
    </button>
    {{priceFive}}
    <button (click)="plus($event.target)" data-price="5" class="button mini-button bg-grayLight">
      +
    </button>
  </p>
  <span class="charm-closer"></span>

</div>
