<div class="container">

  <info></info>

  <div class="grid">

    <div class="row">

      <div class="tabcontrol" data-role="tabcontrol">
        <ul class="tabs">
          <li><a href="#t535">5/35</a></li>
          <li><a href="#t642">6/42</a></li>
          <li><a href="#t649">6/49</a></li>
          <h5 class="place-right margin10">Тестване системите на "ТОТО-2"</h5>
        </ul>
        <div class="frames">
          <a href="#" class="mif-info rightTop" style="color: #2498d9;font-size: 1rem" onclick="toggleMetroCharm('#info')"></a>
          <div class="frame" id="t535">

            <t-t535></t-t535>

          </div>

          <div class="frame" id="t642">

            <t-t642></t-t642>

          </div>
          <div class="frame" id="t649">

            <t-t649></t-t649>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

